body {
    background-color: #fce4ec;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection-link {
    text-decoration: none;
}

.selection-btn {
    background-color: #ff4081;
    color: #fff;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.selection-btn:hover {
    background-color: #d81b60;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.text {
    font-size: 18px;
}
